<div id="content">
	<div id="omniguy"></div>
	<div id="menu">
		<div id="left-btn"><a class="scroll" href="#about">О нас</a></div>
		<div id="middle-btn"><a class="scroll" href="#work">Наша работа</a></div>
		<div id="right-btn"><a class="scroll" href="#feedback">Контакты</a></div>
	</div>
	<div id="about">
		<h2><a name="about">О нас</a></h2>
		<div>
			<p>Амбициозные проекты, свежие идеи, оригинальные решения, виртуозное исполнение. Ваше желание &mdash; основа нашей работы.</p>
			<p>Мы &mdash; слаженная и дружная команда специалистов, которые делают хорошие сайты.</p>
			<p>Мы &mdash; это <strong>Omnihead</strong>.</p>
		</div>
	</div>
	<div id="work">
		<h2><a name="work">Наша работа</a></h2>
		<div>
			<p>В нашей команде все делается сообща и поэтапно. Это помогает нам делать качественно любые проекты, независимо от их сложности.</p>
			<p>Ваш сайт будет уникален по своему существу. Мы не используем шаблонные решения при создании сайтов. Мы отдаем предпочтение собственным идеям и наработкам.</p>
			<p>Omnihead создадут для вас незаурядный сайт и будут поддерживать вас и после его запуска.</p>
		</div>
	</div>
	<div id="separator"></div>
	<div id="contacts">
		<div id="manager">
			<h2>Контактное лицо</h2>
			<ul>
				<li>Геннадий Фарафонов</li>
				<li>г. Москва</li>
				<li>email: customers@omnihead.ru</li>
				<li>Тел: +7(982)600-00-00</li>
			</ul>
		</div>
		<div id="feedback">
			<h2><a name="feedback">Обратная связь</a></h2>
			<p id="feedback-sent">
				Ваше сообщение было успешно отправлено. Мы ответим Вам в ближайшее время.
			</p>
			<form action='/feedback/' method='POST' id="contact-form">
				<ul>
					{% csrf_token %}
					<li>Ваше имя (<span>обязательно</span>)</li>
					<li class="author">{{ form.author }}</li>
					<li>Ваш email (<span>обязательно</span>)</li>
					<li class="email">{{ form.email }}</li>
					<li>Текст сообщения (<span>обязательно</span>)</li>
					<li class="message">{{ form.message }}</li>
					<li>
						<a class="button">Отправить</a>
						<div class="loading">
					</li>
				</ul>
			</form>
		</div>
	</div>
	<div id="footer">
		<div id="footer-left"></div>
		<div id="footer-center"><a class="scroll-top" href="#top"></a></div>
		<div id="footer-right"></div>
	</div>
	</div>
</div>