<div id="content">
	<div id="omniguy"></div>
	<div id="menu">
		<div id="left-btn">О нас</div>
		<div id="middle-btn">Наша работа</div>
		<div id="right-btn">Обратная связь</div>
	</div>
	<div id="about">
		<h2>О нас</h2>
		<div>
			<p>Мы &mdash; это команда специалистов, которые любят делать хорошие сайты.</p>
			<p>Мы &mdash; это амбициозные задачи, оригинальные решения и виртуозное исполнение.</p>
			<p>Мы &mdash; это <strong>Omnihead</strong>.</p>
		</div>
	</div>
	<div id="work">
		<h2>Наша работа</h2>
		<div>
			<p>Этапы нашей работы четко распределены между членами  команды “Omnihead”, что позволяет делать качественно любой проект внезависимости от сложности поставленных задач.</p>
 			<p>Контроль над исполнением и гибкость самого проекта всегда
			занимают топовые позиции в
			нашем исполнении.</p>
		</div>
	</div>
	<div id="separator"></div>
	<div id="contacts">
		<div id="manager">
			<h2>Контактное лицо</h2>
			<ul>
				<li>Геннадий Фарафонов</li>
				<li>г. Москва</li>
				<li>email: customers@omnihead.ru</li>
				<li>Тел: +7(982)600-00-00</li>
			</ul>
		</div>
		<div id="feedback">
			<h2>Обратная связь</h2>
			<ul>
				<li>Ваше имя (<span>обязательно</span>)</li>
				<li><input type="text" name="author"></li>
				<li>Ваш email (<span>обязательно</span>)</li>
				<li><input type="text" name="email"></li>
				<li>Текст сообщения (<span>обязательно</span>)</li>
				<li><textarea name="text"></textarea></li>
				<li><a class="button">Отправить</a></li>
			</ul>
		</div>
	</div>
	<div id="footer">
		<div id="footer-left"></div>
		<div id="footer-center"></div>
		<div id="footer-right"></div>
	</div>
	</div>
</div>